<div class="row driver-index">
  <div class="large-12 large-centered columns">

    <div class="row page-actions">
      <a class="button" href="/admin/drivers/new">Add Driver</a>
    </div>

    <div class="row table-content">
      <table>
        <thead>
          <tr>
            <th width="20%">Name</th>
            <th width="20%">Email</th>
            <th width="40%">Short Description</th>
            <th width="20%">Actions</th>
          </tr>
        </thead>

        <tbody>
          {{#each drivers}}
            <tr>
              <td>{{user.firstName}} {{user.lastName}} ({{user.nickname}})</td>
              <td>{{user.email}}</td>
              <td>{{user.shortDesc}}</td>
              <td>
                <a href="/admin/drivers/{{user.id}}">Show</a>
                <a href="/admin/drivers/{{user.id}}/edit">Edit</a>
                <form class="destroy-action" method="POST" action="/admin/drivers/{{user.id}}?_method=DELETE">
                  <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
                  <a href="javascript:;" class="destroy-link" onclick="parentNode.submit();">Destroy</a>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>
